{% extends 'tours/base.html' %}

{% block title %}
    {% if agent.id %}Edit {{ agent.user.first_name }} {{ agent.user.last_name }}{% else %}Create New Agent{% endif %} - Gnoz
{% endblock %}

{% block content %}
    <h2>{% if agent.id %}Edit Agent{% else %}Create New Agent{% endif %}</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    
    <p><a href="{% url 'agent-list' %}">Back to Agents</a></p>
{% endblock %}